@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Vollkorn');

html, body {
	background-color: #fff;
}

a {
	color: #E91E63
}

a:hover {
	color: #FF5722
}

blockquote {
	padding: 0 1em;
	color: #6a737d;
	border-left: 0.1em solid #dfe2e5;
	font-family: 'Vollkorn', serif;
}

button:focus {
	background-color: #E91E63;
	outline: none;
	outline: none -webkit-focus-ring-color;
}

.jumbotron {
	background-color: #fff;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
	border-bottom-width: 1px;
	border-radius: 0px;
	margin-bottom: 0px;
	padding: 25px 10px 10px 10px;
}

label {
	font-size: small;
}

.search-tags-input {
	font-size: x-small;
	color: #353535;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-color: #b5b5b5;
	border-bottom-width: 1px;
	width: 100%;
	text-align: center
}

.search-tags-input:focus {
		outline: none;
	outline: none -webkit-focus-ring-color;
}

.snippet-form {
	background-color: #f5f5f5;
	margin-top: 15px;
	border-radius: 5px;
	padding-top: 20px;
}

.new-snippet-form-title {
	font-size: large;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

.close-button {
	font-size: x-small;
	background-color: #c5c5c5;
	color: #fff;
	padding: 10px;
	border-radius: 2px;
	margin-right: 5px;
	border-style: none;
	cursor: pointer;
}

#new-snippet-submit {
	font-size: x-small;
	background-color: #c5c5c5;
	color: #fff;
	padding: 10px;
	border-radius: 2px;
	margin-right: 5px;
	border-style: none;
	cursor: pointer;
	width: 100%;
}

.page-title {
	font-size: xx-large;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

.snippet-li {
	border-bottom-color: rgb(222, 222, 222);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 25px;
}

.snippet-title {
	font-size: large;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	color: #E91E63;
}

.snippet-counter {
	font-size: x-small;
	font-family: 'PT Sans', sans-serif;
}

.snippet-tags {
	font-size: x-small;
	background-color: #c5c5c5;
	color: #fff;
	padding: 2px 5px 2px 5px;
	/*border-radius: 2px;*/
	margin-right: 5px;
}

.snippet-tag-link, .all-tag-link  {
	font-size: x-small;
	background-color: #c5c5c5;
	color: #fff;
	padding: 2px 5px 2px 5px;
	/*border-radius: 2px;*/
	margin-right: 5px;
	border-style: none;
	cursor: pointer
}

.snippet-content {
	font-family: 'Vollkorn', serif;
}

.snippet-footer {
	font-size: x-small;
	font-family: 'PT Sans', sans-serif;
	margin-top: 10px;
}

.copy-btn {
	font-size: x-small;
	color: #E91E63;
	border-style: none;
	cursor: pointer
}

.copy-btn:focus {
	color: #fff;
}

.snippets-container {
	background-color: #fff;
	padding: 10px;
}

.footer-span {
	font-family: 'Vollkorn', serif;
	font-size: x-small;
}

.post-snippet-link {
	font-family: 'Vollkorn', serif;
	font-size: x-small;
	color: #E91E63;
		cursor: pointer;
}

ul.timeline {
	list-style-type: none;
	position: relative;
}

ul.timeline:before {
	content: ' ';
	background: #d4d9df;
	display: inline-block;
	position: absolute;
	left: -10px;
	width: 2px;
	height: 100%;
	z-index: 400;
}

ul.timeline > li:before {
	content: ' ';
	background: white;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #d4d9df;
	left: -19px;
	width: 20px;
	height: 20px;
	z-index: 400;
}

ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 15px;
}
